{% extends 'base.html' %}

{% block content %}

<div class="container py-5">

<div class="row">

<div class="col-lg-7">

{% if property.images.all %}

<div class="property-gallery">

    <img id="mainImage"
         src="{{ property.images.first.image.url }}"
         class="img-fluid rounded shadow main-image">

    <div class="row mt-3">

        {% for image in property.images.all %}

        <div class="col-3 mb-3">

            <img src="{{ image.image.url }}"
                 class="img-fluid rounded thumbnail-image"
                 onclick="changeImage(this)">

        </div>

        {% endfor %}

    </div>

</div>

{% else %}

<img src="https://placehold.co/900x500?text=BHAVANAM"
class="img-fluid rounded shadow">

{% endif %}
</div>

<div class="col-lg-5">

<h2 class="fw-bold">

{{ property.title }}

</h2>

<h3 class="text-success">

₹ {{ property.price }}

</h3>

<p>

<i class="bi bi-geo-alt-fill"></i>

{{ property.location }},
{{ property.district }}

</p>

<hr>

<p>

<strong>Bedrooms</strong>

{{ property.bedrooms }}

</p>

<p>

<strong>Bathrooms</strong>

{{ property.bathrooms }}

</p>

<p>

<strong>Area</strong>

{{ property.area_sqft }} Sq.ft

</p>

<p>

<strong>Parking</strong>

{% if property.parking %}
Yes
{% else %}
No
{% endif %}

</p>

<p>

<strong>Furnished</strong>

{% if property.furnished %}
Yes
{% else %}
No
{% endif %}

</p>

<hr>

<a href="tel:{{ property.phone }}"
class="btn btn-success w-100 mb-3">

📞 Call Owner

</a>

<a href="https://wa.me/91{{ property.whatsapp }}"
target="_blank"
class="btn btn-dark w-100">

💬 WhatsApp

</a>

</div>

</div>

<hr class="my-5">

<h3>Description</h3>

<p>

{{ property.description }}

</p>

<hr class="my-5">

<h3>Property Location</h3>

{% if property.google_map_link %}

<div class="text-center">

    <a href="{{ property.google_map_link }}"
       target="_blank"
       class="btn btn-success btn-lg">

        <i class="bi bi-geo-alt-fill"></i>
        View Property on Google Maps

    </a>

</div>

{% else %}

<div class="alert alert-warning">
    Google Maps location is not available.
</div>

{% endif %}

{% endblock %}


<script>

{% if property.latitude and property.longitude %}

var map = L.map('map').setView(
    [{{ property.latitude }}, {{ property.longitude }}],
    15
);

L.tileLayer(
'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png'
).addTo(map);

L.marker(
[{{ property.latitude }}, {{ property.longitude }}]
).addTo(map);

{% endif %}

</script>